<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Stock Finder</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static', filename='css/style.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="logo" href="{{url_for('static', filename='images/logo.png')}}">
</head>
<body>
    <main>
        <section class="screen">
            <img class="logo" src="../static/images/logo.png">
        </section>
        <section class="container">
            <div class="whitebox">
                <h1 class="maintitle">
                    Let's 
                    Start 
                    <br>
                    Investing
                    Simply
                </h1>
                <p class ="info">
                    Our vision is to let people know more about the companies they invest in.<br>
                    We want people to choose the topics they like and as a result people may enjoy more from the investing process.
                </p>
                <a href="topic_selection"><button class="start">
                    Let's start
                </button></a>
            </div>
        </section>
    </main>
    <footer id="footer">
        <h1 class="copyright">© Team Lenna 2021</h1>
    </footer>
</body>
</html>